// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box{
	background-color: red;
	height: 200px;
	margin: 20px;
 	box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.2);
}

.big-box{
	height: auto;
	box-shadow: 1px 1px 3px 4px #ccc;
	padding: 30px;
	margin-bottom: 30px;
}

.small-container{
	padding: 10px;
}

.center{
	display:inline-block;
 	margin: auto;
	height: 90px;
	color: white;
}

.gap{
	margin-bottom: 35px;
}